.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.name {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}
.age {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}
.submit {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px 5px 10px 5px;
}
button {
  width: 50%;
}
@media (max-width: 768px) {
  button {
    width: 100%;
  }
}
